.bg-custom {
    background-color: rgba(255, 255, 255, 0.466);
}

.navbar-brand {
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste al contenedor */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen horizontalmente */
    padding: 10px 10px;
    display: flex; /* Activa el modelo de caja flexible para el elemento */
    align-items: center; /* Centra verticalmente el contenido del elemento */
}

.navbar-brand img {
    width: 70px;
    background-position: center center;
    vertical-align: middle;
    margin-right: 2px;
}




#btn-abrir-modal {
    background-color: #00000034; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    text-decoration: none; /* Elimina la decoración de texto por defecto */
}

#btn-abrir-modal:hover {
    background-color: #030303be; /* Color de fondo del botón al pasar el cursor por encima */
}


#btn-cerrar-modal {
    background-color: #000000b7; /* Color de fondo del botón */
    position: absolute; /* Establece la posición fija para el botón */
    top: 0; /* Posiciona el botón en la parte superior */
    right: 20px; /* Posiciona el botón a la derecha con un margen de 20px */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    text-decoration: none; /* Elimina la decoración de texto por defecto */
}
